li(id="shortcuts-dropdown" class="right")
	a(class="menu-button" href="#") Shortcuts
	div(id="shortcuts-menu" class="menu")
		div(class="text")
			b Quick keyboard shortcuts#[br]
			sub Also see #[i System &rarr; Show keyboard]
		hr
		div(class="buttons")
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="CapsLock" class="row50")
					| &bull; Caps Lock &nbsp;
					img(class="inline-lamp hid-keyboard-caps-led led-gray" src=`${svg_dir}/led-square.svg`)
				button(data-force-hide-menu data-shortcut="MetaLeft" class="row50") &bull; Left Win
			hr
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="AltLeft ShiftLeft" class="row50") &bull; Alt+Shift
				button(data-force-hide-menu data-shortcut="ControlLeft KeyW" class="row50") &bull; Ctrl+W
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="ControlLeft ShiftLeft" class="row50") &bull; Ctrl+Shift
				button(data-force-hide-menu data-shortcut="AltLeft Tab" class="row50") &bull; Alt+Tab
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="ShiftLeft ShiftRight" class="row50") &bull; Shift+Shift
				button(data-force-hide-menu data-shortcut="AltLeft Enter" class="row50") &bull; Alt+Enter
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="MetaLeft Space" class="row50") &bull; Win+Space
				button(data-force-hide-menu data-shortcut="AltLeft F4" class="row50") &bull; Alt+F4
			hr
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="ControlLeft AltLeft F1" class="row50") &bull; Ctrl+Alt+F1
				button(data-force-hide-menu data-shortcut="MetaLeft KeyL" class="row50") &bull; Win+L
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="ControlLeft AltLeft F2" class="row50") &bull; Ctrl+Alt+F2
				button(data-force-hide-menu data-shortcut="PrintScreen" class="row50") &bull; Print Screen
			hr
			div(class="buttons-row")
				button(data-force-hide-menu data-shortcut="ControlLeft AltLeft Delete" class="row50") &bull; Ctrl+Alt+Del
				button(data-force-hide-menu data-shortcut="Power" class="row50") &bull; Power
		hr
		div(class="text")
			| &darr; &bull; Alt+SysRq+... <sup><i>linux magic
			| #[a(target="_blank" href="https://www.kernel.org/doc/html/latest/admin-guide/sysrq.html") help]</i></sup>
		hr
		div(class="buttons")
			div(class="buttons-row")
				-
					let sysrq = {
						"F": "Call the OOM killer to kill a memory hog process",
						"M": "Dump current memory info to the console",
						"D": "Show all locks that are held",
						"T": "Dump a list of current tasks and their information to the console",
					}
				each title, key in sysrq
					button(data-shortcut=`AltLeft PrintScreen Key${key}` data-shortcut-confirm="hid-sysrq-ask-switch" class="row25" style="text-align: center;" title=`${title}`) #{key}
			hr
			div(class="buttons-row")
				-
					sysrq = { 
						"R": "Turn off keyboard raw mode, set it to XLATE",
						"E": "Send a SIGTERM to all processes, except for init",
						"I": "Send a SIGKILL to all processes, except for init",
						"S": "Attempt to sync all mounted filesystems",
						"U": "Attempt to remount all mounted filesystems read-only",
						"B": "Immediately reboot the system without syncing or unmounting disks",
					}
				each title, key in sysrq
					button(data-shortcut=`AltLeft PrintScreen Key${key}` data-shortcut-confirm="hid-sysrq-ask-switch" class="row16" style="text-align: center;" title=`${title}`) #{key}
		hr
		+menu_switch("hid-sysrq-ask-switch", "Ask the magic confirmation", true, true)
