mixin about_tab(name, title, checked=false)
	- let button_id = `about-tab-${name}-button`
	input(checked=checked type="radio" name="about-tab-button", id=button_id)
	label(for=button_id) #{title}
	div(class="tab")
		div(id=`about-${name}` class="code")
			if block
				block
			else
				span(class="code-comment") No data

+window("about-window", "About", true, false)
	div(id="about")
		table
			tr
				td(valign="top" class="logo")
					img(class="svg-gray" src="../share/svg/logo.svg" alt="Open Source Hardware" height="40")
				td(valign="top")
					table
						tr #[td(colspan="2" class="title") Open Source &amp; Open Hardware IP-KVM]
						tr #[td(colspan="2" class="copyright") Copyright &copy; 2018 Pi-KVM Developers Team]
		br
		div(class="tabs-box")
			+about_tab("meta", "Meta", true)
			+about_tab("hw", "Hardware")
			+about_tab("version", "Version")

			+about_tab("thanks", "Thanks")
				span(class="code-comment")
					| // These kind people donated money to the Pi-KVM project#[br]
					| // and supported the work on it. We are very grateful#[br]
					| // for their help, and memorializing their names#[br]
					| // is the least we can do in gratitude.#[br]
					| // If you also want to support this project,#[br]
					| // you can use one of these services:
					| #[a(target="_blank" href="https://www.patreon.com/pikvm") Patreon]
					| or #[a(target="_blank" href="https://www.paypal.me/mdevaev") PayPal].
				ul
					li Aleksei Brusianskii
					li Arthur Woimbée
					li Ben Gordon
					li Branden Shaulis
					li Brian White
					li Christof Maluck
					li Corey Lista
					li David Howell
					li Denis Yatsenko
					li Ge Men
					li Grey Cynic
					li Jacob Morgan
					li Jason Toland
					li Jeff Bowman
					li John McGovern
					li Mark Gilbert
					li Mark Robinson
					li Mauricio Allende
					li Michael Lynch
					li Samed Ozoglu
					li Truman Kilen
					li Walter_Ego
		br
		p(class="text")
			| Full documentation, source code, hardware schematics and legal information
			| can be found in our #[a(target="_blank" href="https://pikvm.org") official website].
