mixin about_tab(name, title, checked=false)
	- let button_id = `about-tab-${name}-button`
	input(checked=checked type="radio" name="about-tab-button", id=button_id)
	label(for=button_id) #{title}
	div(class="tab")
		div(id=`about-${name}` class="code")
			if block
				block
			else
				span(class="code-comment") No data

+window("about-window", "About", false)
	div(id="about")
		table
			tr
				td(valign="top" class="logo")
					img(class="svg-gray" src="../share/svg/logo.svg" alt="Pi-KVM" height="40")
				td(valign="top")
					table
						tr #[td(colspan="2" class="title") The Open Source IP-KVM]
						tr
							td(colspan="2" class="copyright")
								| Copyright &copy; 2018 #[a(target="_blank" href="mailto:mdevaev@gmail.com") Maxim Devaev]
		br
		div(class="tabs-box")
			+about_tab("meta", "Meta", true)
			+about_tab("hw", "Hardware")
			+about_tab("version", "Version")

			+about_tab("thanks", "Thanks")
				span(class="code-comment")
					| // These kind people donated money to the Pi-KVM project#[br]
					| // and supported the work on it. We are very grateful#[br]
					| // for their help, and memorializing their names#[br]
					| // is the least we can do in gratitude.#[br]
					| // If you also want to support this project,#[br]
					| // you can use one of these services:
					| #[a(target="_blank" href="https://www.patreon.com/pikvm") Patreon]
					| or #[a(target="_blank" href="https://www.paypal.me/mdevaev") PayPal].
				ul
					li Accalia
					li Alberto Bassi
					li Aleksei Brusianskii
					li Alucard
					li Andrew Reusch
					li Andrzej V
					li Anish Patel
					li Anix
					li Anton Kovalenko
					li Aron Perelman
					li Arthur Woimbée
					li Ashlesh Chaudhari
					li Augusto Becciu
					li AVS Computer
					li baddog
					li Bao Tin Hoang
					li Ben Gordon
					li Ben Scott
					li Benjamin Melancon
					li Bits and Bytes Computers LLC
					li Brainspore Networks
					li Branden Shaulis
					li Brian Vecchiarelli
					li Brian White
					li Bruno Gomes
					li Bryan Adams
					li Carl Mercier
					li Chris Burton
					li Christian Schlögl
					li Christof Maluck
					li Christoph Dette
					li Christoffer Lund
					li Corey Layton
					li Corey Lista
					li Clifford Coleman
					li Clinton Lee Taylor
					li Damon Meledones
					li Dan Brakeley
					li David Howell
					li Denis Andreev
					li Denis Yatsenko
					li dixon wong
					li Dmitry Shilov
					li Eric Phenix
					li ewook
					li Fergus McKay
					li Foamy
					li Francisco Pavon
					li Fredrik Idréus
					li Ge Men
					li Grey Cynic
					li Guido Bernacchi
					li Heikki Tiittanen
					li Henry Hood
					li HimKo
					li iks
					li Ivan Shapovalov
					li Jacob Morgan
					li James Cadd
					li James Cobb
					li Jamie Murphy
					li Jan Niehusmann
					li Jari Hiltunen
					li Jason Downey
					li Jason Toland
					li Jay Davis
					li Jeff Bowman
					li Jennifer Rowlett
					li Jerremy Holland
					li Joachim Bruening
					li John F Glenn
					li John Kelley
					li John McGovern
					li Jonathan Vaughn
					li Jordi Pakey-Rodriguez
					li Joris van Embden
					li Josh Ricker
					li Jozef Riha
					li Julian Forero
					li Justin Waters
					li Kenny Hui
					li Krzysztof Żelaśkiewicz
					li Lars
					li LeeNX
					li Lothar Schweikle-Droll
					li Lukas Söder
					li Malcolm Cameron
					li Marcos Wolf
					li Mark Gilbert
					li Mark Robinson
					li Markus Schicker
					li Markus Sobczack
					li Marten Hermans
					li Martin Gasser
					li Mateusz Grabowski
					li Matthew Cameron
					li Mauricio Allende
					li Mehmet Aydoğdu
					li Michael Kovacs
					li Michael Lynch
					li Michael Sage
					li Miles Davis
					li Morgan Helton
					li Nicholas Jeppson
					li Nick Leffler
					li Nick Roethemeier
					li Nils Orbat
					li Nithin Philips
					li Nod Swal
					li nybble
					li Oh Be
					li Paul Bishop
					li Philip Merricks
					li posicat
					li pozitron03
					li Quentin Peten
					li Ralph Borchers
					li Ranc1d
					li Richard Bernarts
					li Richard Freemantle
					li Robin Gfatter
					li Rolfs 3D UG
					li Samed Ozoglu
					li Scott
					li Scott Spicola
					li Seonwoo Lee
					li Sergey Lukjanov
					li Shichun Chen
					li Simplistic Realities
					li Stefan Bautz
					li Stefan Müller
					li Stefan Stemmer
					li Steve Ovens
					li Steven Richter
					li Tejun Heo
					li Thomas Søfteland
					li Timothee Besset
					li Tobias Schafferhans
					li Tomas Kuchta
					li Tomáš hrubý
					li Tristan Schoening
					li Truman Kilen
					li Tyler
					li Udo Schroeter
					li Walter_Ego
					li William Stearns
					li Yethal
					li YURI LEE
					li Yurii Ostapchuk
					li zgen
					li Zsombor Vari
		br
		p(class="text")
			| Full documentation, source code, hardware schematics and legal information
			| can be found in our #[a(target="_blank" href="https://pikvm.org") official website].
