mixin about_tab(name, title, checked=false)
	- let button_id = `about-tab-${name}-button`
	input(checked=checked type="radio" name="about-tab-button", id=button_id)
	label(for=button_id) #{title}
	div(class="tab")
		div(id=`about-${name}` class="code")
			if block
				block
			else
				span(class="code-comment") No data

+window("about-window", "About", false)
	div(id="about")
		table
			tr
				td(valign="top" class="logo")
					img(class="svg-gray" src="../share/svg/logo.svg" alt="Pi-KVM" height="40")
				td(valign="top")
					table
						tr #[td(colspan="2" class="title") The Open Source IP-KVM]
						tr
							td(colspan="2" class="copyright")
								| Copyright &copy; 2018 #[a(target="_blank" href="mailto:mdevaev@gmail.com") Maxim Devaev]
		br
		div(class="tabs-box")
			+about_tab("meta", "Meta", true)
			+about_tab("hw", "Hardware")
			+about_tab("version", "Version")

			+about_tab("thanks", "Thanks")
				span(class="code-comment")
					| // These kind people donated money to the Pi-KVM project#[br]
					| // and supported the work on it. We are very grateful#[br]
					| // for their help, and memorializing their names#[br]
					| // is the least we can do in gratitude.#[br]
					| // If you also want to support this project,#[br]
					| // you can use one of these services:
					| #[a(target="_blank" href="https://www.patreon.com/pikvm") Patreon]
					| or #[a(target="_blank" href="https://www.paypal.me/mdevaev") PayPal].
				ul
					li Accalia
					li adipisicing
					li Alberto Bassi
					li Aleksei Brusianskii
					li Alexandre Jablonski
					li Alucard
					li Andrew Reusch
					li Andrew Ruan
					li Andrzej V
					li Anish Patel
					li Anix
					li Anton Kovalenko
					li Aron Perelman
					li Arthur Woimbée
					li Ashlesh Chaudhari
					li Augusto Becciu
					li AVS Computer
					li baddog
					li Bao Tin Hoang
					li Ben Gordon
					li Ben Scott
					li Benedikt Heine
					li Benjamin Melancon
					li Bernhard Fitzke
					li bitjoe
					li Bits and Bytes Computers LLC
					li Bootstrapper - Programmierung erklärt
					li Bradford King
					li Brainspore Networks
					li Branden Shaulis
					li Brian Moses
					li Brian Vecchiarelli
					li Brian White
					li Bruno Gomes
					li Bryan Adams
					li C P ELSE
					li Carl Mercier
					li Chris Burton
					li Chris Rizio
					li Christian Schlögl
					li Christof Maluck
					li Christoph Dette
					li Christoffer Lund
					li Clifford Coleman
					li Clinton Lee Taylor
					li Cole Imhoff
					li Corey Layton
					li Corey Lista
					li ctag
					li DeMentor
					li Damon Meledones
					li Dan Berkowitz
					li Dan Brakeley
					li David
					li David Howell
					li David York
					li Denis
					li Denis Andreev
					li Denis Yatsenko
					li Derek Yap
					li dixon wong
					li dizztrukshin
					li Dmitry Shilov
					li Egan Ford
					li Eric Phenix
					li ewook
					li Fergus McKay
					li fo0bar
					li Foamy
					li Francisco Pavon
					li Fredrik Idréus
					li Ge Men
					li Genkinger Andreas
					li Georgy Brodsky
					li Gregory Treantos
					li Grey Cynic
					li Guido Bernacchi
					li Gustin Johnson
					li Heikki Tiittanen
					li Henrik Ählström
					li Henry Hood
					li HimKo
					li Icculus
					li iks
					li Ivan Shapovalov
					li J L
					li Jacob Morgan
					li James Cadd
					li James Cobb
					li James Kocher
					li Jamie Murphy
					li Jan Niehusmann
					li Jari Hiltunen
					li Jason Downey
					li Jason Toland
					li Jay Davis
					li Jeff Bowman
					li Jeff Urlwin
					li Jennifer Rowlett
					li Jerremy Holland
					li Joachim Bruening
					li Joe Ventura
					li Joel Jacobs
					li John F Glenn
					li John Kelley
					li John McGovern
					li Jonathan Vaughn
					li Jordi Pakey-Rodriguez
					li Joris van Embden
					li Josh Ricker
					li Joshua Futterer
					li Jozef Riha
					li Julian Forero
					li Justin Waters
					li Ken Lee
					li Kenny Hui
					li Kevin Schwartz
					li Krzysztof Żelaśkiewicz
					li Lars
					li LeeNX
					li Lordbob75
					li Lothar Schweikle-Droll
					li Lukas Söder
					li Malcolm Cameron
					li Marcos Wolf
					li Mark Gilbert
					li Mark Robinson
					li Markus Halm
					li Markus Schicker
					li Markus Sobczack
					li Marten Hermans
					li Martin Gasser
					li Mateusz Grabowski
					li Matthew Cameron
					li Mauricio Allende
					li Mehmet Aydoğdu
					li Michael Kovacs
					li Michael Lynch
					li Michael Pennington
					li Michael Sage
					li Milan Múčka
					li Miles Davis
					li Morgan Helton
					li Nicholas Jeppson
					li Nick Leffler
					li Nick Roethemeier
					li Nils Orbat
					li Nithin Philips
					li Nod Swal
					li nybble
					li Oh Be
					li Oliver Schwarz
					li Oliver Zimmer
					li Paul Bishop
					li Peter Farrelly
					li Petri Heiskanen
					li Philip Merricks
					li posicat
					li pozitron03
					li Qteal
					li Quentin Peten
					li Ralph Borchers
					li Ranc1d
					li Richard Bernarts
					li Richard Freemantle
					li Rob Tongue
					li Robin Gfatter
					li Rolfs 3D UG
					li rotx
					li Samed Ozoglu
					li Satish Alwani
					li Scott
					li Scott Spicola
					li Scott Tusing
					li Sean
					li Seonwoo Lee
					li Sergey Lukjanov
					li Shichun Chen
					li Simon Evans
					li Simplistic Realities
					li Stefan Bautz
					li Stefan Müller
					li Stefan Stemmer
					li Steve Ovens
					li Steven Richter
					li sudo34
					li Tejun Heo
					li Thomas Price
					li Thomas Søfteland
					li Timothee Besset
					li Tobias Schafferhans
					li Tom York
					li Tomas Kuchta
					li Tomáš hrubý
					li Tristan Schoening
					li Truman Kilen
					li Tyler
					li Udo Schroeter
					li Uli Fahrer
					li Walter_Ego
					li William Hooper
					li William Stearns
					li Yethal
					li Yevgeniy Kuksenko
					li Yigal Dar
					li YURI LEE
					li Yurii Ostapchuk
					li zgen
					li Zsombor Vari
		br
		p(class="text")
			| Full documentation, source code, hardware schematics and legal information
			| can be found in our #[a(target="_blank" href="https://pikvm.org") official website].
