mixin about_tab(name, title, i18nid, checked=false)
	- let button_id = `about-tab-${name}-button`
	input(checked=checked type="radio" name="about-tab-button", id=button_id)
	label(for=button_id i18n=i18nid) #{title}
	div(class="tab")
		div(id=`about-${name}` class="code")
			if block
				block
			else
				span(class="code-comment") No data

div(id="about-window" class="window")
	div(class="window-header")
		div(class="window-grab" i18n="kvm_text1") About
		button(class="window-button-close") #[b &times;]
	div(id="about")
		table
			tr
				td(class="logo")
					a(href="https://pikvm.org" target="_blank")
						img(class="svg-gray" src=`${svg_dir}/logo.svg` alt="PiKVM" height="40")
				td
					table
						tr #[td(colspan="2" class="title" i18n="index_title") The Open Source KVM over IP]
						tr
							td(colspan="2" class="copyright" i18n="copyright")
								| Copyright &copy; 2018-2024 #[a(target="_blank" href="mailto:mdevaev@gmail.com") Maxim Devaev]
		br
		div(class="tabs-box")
			+about_tab("meta", "Meta", "meta", true)
				div
					span(class="code-comment")
						| // You can get this JSON using handle #[a(target="_blank" href="/api/info?fields=meta") /api/info?fields=meta]#[br]
						| // In the standard configuration this data#[br]
						| // is specified in the file /etc/kvmd/meta.yaml
					br
					pre(id="kvmd-meta-json")
						| No data

			+about_tab("hardware", "Hardware", "hardware")
			+about_tab("version", "Version", "version")

			+about_tab("thanks", "Thanks", "thanks")
				span(class="code-comment" i18n="kvm_text2")
					| // These kind people donated money to the PiKVM project#[br]
					| // and supported the work on it. We are very grateful#[br]
					| // for their help, and memorializing their names#[br]
					| // is the least we can do in gratitude.#[br]
					| // If you also want to support this project,#[br]
					| // you can donate on #[a(target="_blank" href="https://www.patreon.com/pikvm") Patreon]
					| or #[a(target="_blank" href="https://paypal.me/pikvm") Paypal].
		br
		p(class="text credits")
			a(target="_blank" href="https://github.com/mofeng-git/One-KVM" i18n="index_text_12") One-KVM Project
			| &nbsp; | &nbsp;
			a(target="_blank" href="https://one-kvm.mofeng.run" i18n="index_text_13") One-KVM Documentation
			| &nbsp; | &nbsp;
			a(target="_blank" href="https://pikvm.org" i18n="index_text_10") PiKVM Project
			| &nbsp; | &nbsp;
			a(target="_blank" href="https://docs.pikvm.org" i18n="index_text_11") Documentation