mixin about_tab(name, title, checked=false)
	- let button_id = `about-tab-${name}-button`
	input(checked=checked type="radio" name="about-tab-button", id=button_id)
	label(for=button_id) #{title}
	div(class="tab")
		div(id=`about-${name}` class="code")
			if block
				block
			else
				span(class="code-comment") No data

+window("about-window", "About", false)
	div(id="about")
		table
			tr
				td(valign="top" class="logo")
					img(class="svg-gray" src="../share/svg/logo.svg" alt="Pi-KVM" height="40")
				td(valign="top")
					table
						tr #[td(colspan="2" class="title") The Open Source IP-KVM]
						tr
							td(colspan="2" class="copyright")
								| Copyright &copy; 2018 #[a(target="_blank" href="mailto:mdevaev@gmail.com") Maxim Devaev]
		br
		div(class="tabs-box")
			+about_tab("meta", "Meta", true)
			+about_tab("hw", "Hardware")
			+about_tab("version", "Version")

			+about_tab("thanks", "Thanks")
				span(class="code-comment")
					| // These kind people donated money to the Pi-KVM project#[br]
					| // and supported the work on it. We are very grateful#[br]
					| // for their help, and memorializing their names#[br]
					| // is the least we can do in gratitude.#[br]
					| // If you also want to support this project,#[br]
					| // you can use one of these services:
					| #[a(target="_blank" href="https://www.patreon.com/pikvm") Patreon]
					| or #[a(target="_blank" href="https://www.paypal.me/mdevaev") PayPal].
				ul
					li Aleksei Brusianskii
					li Alucard
					li Andrzej V
					li Anton Kovalenko
					li Aron Perelman
					li Arthur Woimbée
					li Augusto Becciu
					li baddog
					li Bao Tin Hoang
					li Ben Gordon
					li Branden Shaulis
					li Brian White
					li Bruno Gomes
					li Bryan Adams
					li Carl Mercier
					li Christian Schlögl
					li Christof Maluck
					li Christoffer Lund
					li Corey Lista
					li Clifford Coleman
					li Clinton Lee Taylor
					li David Howell
					li Denis Andreev
					li Denis Yatsenko
					li Dmitry Shilov
					li Eric Phenix
					li Fergus McKay
					li Foamy
					li Fredrik Idréus
					li Ge Men
					li Grey Cynic
					li Guido Bernacchi
					li Heikki Tiittanen
					li HimKo
					li Ivan Shapovalov
					li Jacob Morgan
					li Jan Niehusmann
					li Jari Hiltunen
					li Jason Toland
					li Jeff Bowman
					li Jennifer Rowlett
					li Joachim Bruening
					li John Kelley
					li John McGovern
					li Jonathan Vaughn
					li Jordi Pakey-Rodriguez
					li Josh Ricker
					li Jozef Riha
					li Justin Waters
					li Krzysztof Żelaśkiewicz
					li Lukas Söder
					li Malcolm Cameron
					li Mark Gilbert
					li Mark Robinson
					li Markus Sobczack
					li Martin Gasser
					li Mauricio Allende
					li Mehmet Aydoğdu
					li Michael Kovacs
					li Michael Lynch
					li Morgan Helton
					li Nicholas Jeppson
					li Nils Orbat
					li Nithin Philips
					li Nod Swal
					li nybble
					li pozitron03
					li Ranc1d
					li Robin Gfatter
					li Samed Ozoglu
					li Scott
					li Scott Spicola
					li Sergey Lukjanov
					li Stefan Müller
					li Stefan Stemmer
					li Steve Ovens
					li Steven Richter
					li Tejun Heo
					li Truman Kilen
					li Walter_Ego
					li YURI LEE
					li zgen
					li Zsombor Vari
		br
		p(class="text")
			| Full documentation, source code, hardware schematics and legal information
			| can be found in our #[a(target="_blank" href="https://pikvm.org") official website].
